<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Wingz Driver</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This is being used to access the maps</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This is being used to access the maps</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This is being used to access the maps</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>GalanoClassic-Black.ttf</string>
		<string>GalanoClassic-Bold.ttf</string>
		<string>GalanoClassic-ExtraBold.ttf</string>
		<string>GalanoClassic-ExtraLight.ttf</string>
		<string>GalanoClassic-Heavy.ttf</string>
		<string>GalanoClassic-Light.ttf</string>
		<string>GalanoClassic-Medium.ttf</string>
		<string>GalanoClassic-Regular.ttf</string>
		<string>GalanoClassic-SemiBold.ttf</string>
		<string>GalanoClassic-Thin.ttf</string>
		<string>icomoon.ttf</string>
	</array>
</dict>
</plist>
